{% extends "base.html.twig" %} {# Etendre un template#}
{% block title %}
{# Un commentaire #}
{# {% %} permet d'utiliser une de fonstions de twig#}
{# {{}} permet d'affciher une information => echo  en php#}

    {% block body %}
        <pre>
            {{ dump(categories) }}
        </pre>
        {#
            Un if ou un 
        #}
        {% if categories %}
            <ul>
                {% for cat in categories %}
                    <li>{{ cat.name}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <h2 class="text-danger">Aucune catégories n'existe pour le moment</h2>
        {% endif %}
    {% endblock %}
{% endblock %}